<div class="row p-b-25">
	<div class="col-6 app-container">
    	<app-flip-card [cover-url]="coverUrl" [avatar-url]="avatarUrl" [title]="title" [subtitle]="subtitle">
			<div class="back-view">
				<div class="d-table">
					<div class="d-cell back-cover" [style.backgroundImage]="'url(' + coverUrl +')'">
					</div>
					<div class="d-cell back-body">
						<div class="d-table">
							<div class="row row-header row-style">
								<div class="col">
									<div class="d-cell avatar">
										<div class="card-avatar" [style.backgroundImage]="'url(' + avatarUrl + ')'"></div>
										</div>
									<div class="d-cell text-style header">
										<span>Fernando Filho</span>
										<p>Contato</p>
									</div>
								</div>
							</div>
							<div class="row p-b-25 row-style">
								<div class="col">
									<div class="d-cell">
										<i class="icon-linkedin color-linkedin social-media-icons"></i>
									</div>
									<div class="d-cell text-style">
										<span>Fernando Filho</span>
										<p>fernandofilhof3</p>
									</div>
								</div>
							</div>
							<div class="row p-b-25 row-style">
								<div class="col">
									<div class="d-cell">
										<i class="icon-github color-github social-media-icons"></i>
									</div>
									<div class="d-cell text-style">
										<span>Fernando Filho</span>
										<p>fernandofilhof3</p>
									</div>
								</div>
							</div>
							<div class="row p-b-25 row-style">
								<div class="col">
									<div class="d-cell">
										<i class="icon-instagram color-instagram social-media-icons"></i>
									</div>
									<div class="d-cell text-style">
										<span>Fernando Filho</span>
										<p>fernandofilhof3</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</app-flip-card>
	</div>
</div>
